body{
    box-shadow: 1px 3px 20px #CDE77F, -4px -2px 20px #a3b18a ;
}
img{
  border-radius: 150px 50px;
    height: 300px;
    box-shadow: 1px 1px 50px 20px red;
    
}
h2{
    text-shadow: 1px 5px 2px  yellow;
}
.p1{
text-decoration: underline overline ;
text-shadow: 1px 2px 3px brown;

}
.p2{
    word-spacing: 2px;
    line-height: 25px;
    text-shadow:1px 1px 10px green;
    font-family:'Courier New', Courier, monospace
  
}
h5{
    text-transform: capitalize;
    text-shadow: 10px ;
    font-family: 'Courier New', Courier, monospace;
  
}