.img1{
    height: 20px;
}
.text1{
    font-family:'Courier New', Courier, monospace
}
.img2{
    height: 40px;
}
.img3{
    height: 10px;
}
.fieldset1{
    width: fit-content;
    height: fit-content;
    box-shadow: 1px 2px rgb(237, 113, 113);
   
}
.fieldset3{
    width: fit-content;
    height: fit-content;
    box-shadow: 1px 2px rgb(134, 113, 237);
   
}
.fieldset2{
    height: 20px;
}
.img5{
    height: 10px;
    align-items: center;
}
.img3{
    height: 30px;
}